@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
body{
    padding: 0;
    margin: 0;
    background: #111611;
}

h1.logo-css{
    font-size: 60px;
    background: -webkit-linear-gradient(#ff512f, #f09819);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Monoton', cursive;
}


#header{
    background: black;
    padding: 1em;
    
}

.ui-helper-hidden-accessible{
    display: none;
}



.synopsis:hover{
    display: block;
    transition :1s;
}


