@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

body{
    padding: 0;
    margin: 0;
    
}


#header{
    background: black;
    padding: 1em;
    
}

.ui-helper-hidden-accessible{
    display: none;
}


